body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(168, 167, 167);
  color: black;
  margin: 0;
}

/*==== Topography ===*/

h1 {
  font-weight: lighter;
  text-decoration: underline;
  margin-left: 35px;
  color: rgb(32, 91, 167);
  text-align: center;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(37, 110, 170);
}

/* ==== layout ===*/

.Navigation {
  position: sticky;
  top: 0; /* This is the point where the element will stick to the top of the viewport */
  background-color: rgb(76, 76, 76); /* Ensure content underneath doesn't show through */
}

.menu {
  display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28px;
    margin: 0;
}

#Experience h4 {
  text-align: center;
}

.columns-experience {
  display: flex;
}

.column {
  margin: 0px auto;
  text-align: center;
}

.language-icon {
  width: 80px;
  height: 50px;
}

.jobs {
  margin-top: 15px;
}

.job {
  display: flex;
  justify-content: space-between;
}

.columns-connect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section {
  background-color: rgb(138, 158, 158);
  border: solid;
  border-color: rgb(66, 142, 138);
  margin: 25px;
  padding: 10px 30px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#About {
  text-align: left;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

a:visited {
  color: rgb(175, 173, 173);
}

a:hover, a:active {
  color: lightblue;
  text-decoration: revert;
}

.img-link {
  width: 80px;
  height: auto; 
  transition: width 0.3s ease; /* Smooth transition for the width change */
}

.img-link:hover {
  width: 100px; /* New, bigger width on hover */
}