body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(168, 167, 167);
  color: black;
  margin: 0 auto;
}

/*==== Typography ===*/

h1 {
  font-weight: lighter;
  text-decoration: underline;
  /* margin-left: 35px; */
  color: rgb(32, 91, 167);
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(37, 110, 170);
}

/* ==== layout ===*/


/* ==== Experience section ===*/
#Experience h4 {
  text-align: center;
}

.language-icon {
  width: 100%;
  height: 50px;
}

.jobs {
  margin-top: 15px;
}

/*== using flexbox ==*/

/* .columns-experience {
  display: flex;
}

.column {
  margin: 0px auto;
  text-align: center;
}

.job {
  display: flex;
  justify-content: space-between;
} */


/* === STRETCH GOAL: using grid === */

.columns-experience {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: space-evenly;
}

.job {
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
}

/* ==== Connect section  ===*/
.columns-connect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-link {
  width: 80px;
  /* height: auto;  */
  transition: width 0.3s ease; /* Smooth transition for the width change */
}

.img-link:hover {
  width: 100px; /* New, bigger width on hover */
}


/* ==== all section layout ===*/
section {
  background-color: rgb(138, 158, 158);
  border: solid;
  border-color: rgb(66, 142, 138);
  margin: 25px;
  padding: 10px 30px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#About {
  text-align: left;
}

/* ==== Navigation bar  ===*/

.Navigation {
  position: sticky;
  top: 0; /* This is the point where the element will stick to the top of the viewport */
  background-color: rgb(76, 76, 76); /* Ensure content underneath doesn't show through */
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  margin: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

.menu a {
  color: rgb(175, 173, 173);
}

a:hover {
  color: lightblue;
}

/* ==== Media Queries to adjust for screen sizes ==== */
/* Will make into laptop monitor first mode */

/* table lanscape mode sizing */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.6rem;
    font-style: italic;
    color: rgb(1, 133, 58);
    
  }  
  h2 {
    font-size: 1.5rem;
    color: rgb(69, 34, 197);
  }

  ul {
    padding: 4px;
    background-color: rgb(159, 9, 17);
  }
}

/*  phone sizing */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.4rem;
    font-style: oblique 23deg;
    color: rgb(119, 20, 93);
  }  
  h2 {
    font-size: 1.3rem;
    color: rgb(100, 119, 15);
  }

  ul {
    padding: 2px;
    background-color: rgb(7, 9, 82);
  }
}